*{
    box-sizing: border-box;
    font-family: 'NanumSquare';
}
.nanumsquare { font-family: 'NanumSquare', sans-serif !important; }

p{
    margin:10px 0;
}

html{
    position: relative;
    min-height:100%;
    margin: 0;
    min-width: 100%;
}

body{
    width:100%;
    height:100%;
    margin: 0 0;
    position: absolute;
    text-align: center;
    font-size: 15px;
    /* navy ver & white ver */
    color:white; background-color: #002c52;
    /* background-color: white; color: #005dac; */
    
}


header{
    margin: 10%  0;
    padding: 0 0;
}
.title{
    margin:5% 0;
}
main{
    height:70%;
}
.main1{
    margin:5% 0;
    height:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main2{
    height:20%;
    font-size: 10px;
}



footer{
    position: absolute;
    font-size: 10px;
    bottom: 0;
    width:100%;
    color:rgb(184, 184, 184);
}

/* a tag*/
a {
    color:#005dac;
    text-decoration: none;
}
a:visited{
    color:#005dac;
    text-decoration: none;
}
a:hover{
    color:#002c52;
    text-decoration: none;
}