*{
    box-sizing: border-box;
}
html{
    position: relative;
    min-height:100%;
    margin: 0;
    background-color: #005dac;
    color:white;
}
body{
    margin: 10px 5px;
    text-align: center;
    min-height:100%;
    
}
header{
    padding: 50px;
}
main{
    height:350px;
}
.search{
    height:70%;
}
footer{
    position: absolute;
    font-size: 10px;
    bottom: 0;
    width:100%;
}

/* aÅÂ±× */
a {
    color:white;
    text-decoration: none;
}