*{
    box-sizing: border-box;
    font-family: 'NanumSquare';
}
.nanumsquare { font-family: 'NanumSquare', sans-serif !important; }

html{
    position: relative;
    min-height:100%;
    min-width: 100%;
    margin:0;
}
body{
    min-width:100%;
    min-height:100%;
    margin: 0 0;
    position: absolute;
    text-align: center;
    font-size: 15px;
    /* navy ver & white ver */
    color:white; background-color: #005EB1;
    /* background-color: white; color: #005dac; */
}
header{
    margin: 0;
    padding: 15px 0 0 0;
    max-height: 250px;
    margin: 0 auto;
}
#gmlogo{
    width:30px;
}
.title{
    margin:2% 0;
}
#title{
    width:150px; 
}
#sub_title{
    width:100%;
    margin:0 auto;
    position: absolute;
    z-index:2;
    font-size: 13px;
}
main{
    height:80%;
}

.circle1{
    background-color:rgb(180, 225, 0, 0.9);
    width:150px;
    height:150px;
    border-radius:300px;
    margin:0 auto;
    position: relative;
    transform: translate(-120px,110px)
}
.circle2{
    background-color:rgb(255, 149, 0, 0.8);
    width:80px;
    height:80px;
    border-radius:300px;
    margin:0 auto;
    position: absolute;
    transform: translate(-105px,10px)
}
.map{
    position: absolute;
    transform: translate(0,30px);
    z-index: 1;
}
#gamang{
    margin:7px;
    color: white;
    position: absolute;
    z-index: 2;
    font-weight: 500;
    font-size: 17px;
    transform: translate(0,30px);
}
.main1{
    margin:0;
    height:70%;
    max-height: 300px;
    padding:10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main2{
    height:30%;
    padding: 2% 0 1% 0;
    font-size: 10px;
    max-height: 200px;

}
.circle3{
    background-color:rgb(225, 148, 0,0.8);
    width:70px;
    height:70px;
    border-radius:300px;
    margin:0 auto;
    position: absolute;
    transform: translate(250px,-50px);
}
.circle4{
    background-color:rgb(180,225,0,0.7);
    width:30px;
    height:30px;
    border-radius:300px;
    margin:0 auto;
    position: absolute;
    transform: translate(320px,80px);
}

footer{
    position: absolute;
    bottom: 0;
    width:100%;
    min-height: 60px;
}
#info, #mobile{
    margin:0;
    font-size: 10px;
    color:rgb(158, 158, 158);
}

/* a tag*/
a { color:rgb(158, 158, 158); text-decoration: none; }
a:visited{ color:rgb(158, 158, 158); text-decoration: none; }
a:hover, span:hover{ color:rgb(255, 255, 255); text-decoration: none; }

#modal {
  position:relative;
  width:100%;
  height:100%;
  z-index:4;
}
#modal button {
  width:50px;
  margin-left: 70%;
  background-color: rgb(63, 63, 63);
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255); 
  padding: 4px;
  color:white;
}

#modal .modal_content {
    width:300px;
    margin:0 auto;
    padding:10px 10px;
    background:#fff;
    /* border:2px solid #666; */
    border-radius: 10px;
    text-align: initial;
}

#modal .modal_layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:-1;
}

#modal_txt{
    color: black;
    font-size:14px;
    margin:0 0;
}
#modal_open_btn{
    background-color: none;
    
}
