{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>오디써</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"> <!--나눔스퀘어 폰트-->
    <script src="http://code.jquery.com/jquery-1.11.0.js"></script> <!--현위치 받기-->
</head>

<body>
    <header>
        <img src="{% static 'image/gmlogo.png' %}" width="50px">
        <div class="title">
            <img src="{% static 'image/logo.png' %}" width="200px"> 
            <p>경기도 지역화폐<br>어디에 써? 어디있어?</p>
        </div>
    </header>

    <main>
        <div class="main1">
            <div class="map"  onclick="currentloc();">
                <img src="{% static 'image/map.png' %}" width="200px">
                <script>
                    function currentloc() {        
                        // Geolocation API에 액세스할 수 있는지를 확인
                        if (navigator.geolocation) {
                            //위치 정보를 얻기
                            navigator.geolocation.getCurrentPosition (function(pos) {
                                var latitude = pos.coords.latitude;
                                var longitude = pos.coords.longitude;
                                location.href="map?"+latitude+","+longitude;
                            });
                        } else { // 디폴트위치: 경기도청
                            alert("현 위치를 받을 수 없습니다.")
                            location.href="map?37.275050,127.009447";
                        }
                        
                    }
                </script>
            </div>
        </div>
        
        <div class="main2">
            <p>아직 재난기본소득 신청을 안 하셨나요?</p>
            <a href="http://www.gmoney.or.kr/"><img src="{% static 'image/linkbutton.png' %}" width="200px"></a>
        </div>
        

    </main>
    
    <footer>
        <div class="cities">
            <p>로고로고로고</p>
        </div>
        <p>본 서비스는 모바일에 최적화되어 있습니다.</p>
        <p>만든사람들: 이미정 구도원 이지윤<br>Copyrights 2020 © G_cos</p>
    </footer>
</body>
</html>

