{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>오디써</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mapstyle.css' %}"> <!--지도적용-->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"> <!--나눔스퀘어 폰트-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> <!--부트스트랩-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3ee8e0692190c94bbe63d42f7dbe7aeb"></script> <!--지도API-->
    <script src="http://code.jquery.com/jquery-1.11.0.js"></script> <!--현위치 받기-->
</head>

<body>
    <div id="map" onclick="div_hide();"></div> 

    <div class="nav">
        <div id="nav_button">
            <a href="{% url 'home' %}"><img src="{% static 'image/back.png' %}" height="100%"></a>
        </div> 
        <img src="{% static 'image/renew.png' %}" height="90%" onclick="currentloc();">
    </div>
    <div id="city" style="display:none"></div>
    <div id="detail" style="display:none"></div>
    

<script>
    //detail 보이기
    function div_show(content) {
        detail.style.display = "",
        document.all("detail").innerHTML=content;
    }
    
    //detail 숨기기
    function div_hide() {
        detail.style.display = "none";
        city.style.display = "none"
    }

    //city 정보 보이기
    function city_show(code) {
        city.style.display = "";
        if (code == 41000){
            document.all("city").innerHTML='<img class="city1">';
        } else {
            document.all("city").innerHTML='<img class="city2">';
        }
    }
            
    function currentloc() {  //현 위치 다시받기     
        // Geolocation API에 액세스할 수 있는지를 확인
        if (navigator.geolocation) {
            //위치 정보를 얻기
            navigator.geolocation.getCurrentPosition (function(pos) {
                var latitude = pos.coords.latitude;
                var longitude = pos.coords.longitude;
                location.href="?"+latitude+","+longitude;
            });
        } else { // 디폴트위치: 경기도청
            alert("현 위치를 받을 수 없습니다.")
            location.href="?37.275050,127.009447";
        }
        
    }

    // 현 위치정보 url로 받기
    temp=location.href.split("?")
    data=temp[1].split(",")
    lat = data[0]
    lon = data[1]
    
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
        mapOption = { 
            center: new kakao.maps.LatLng(lat,lon), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };
    
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    //현 위치 표시
    var marker = new kakao.maps.Marker({ 
        map: map, // 마커를 표시할 지도
        position: new kakao.maps.LatLng(lat, lon), // 마커를 표시할 위치
    });


    ////////////////////////////////////////////
    //데이터 받기//

    var data =[
        {
            "id": "27a80d92d1734b7ca8269a66447a1dc3",
            "name": "크린토피아",
            "industry_name": "세탁업",
            "city": {
                "code": 41000,
                "name": "수원시"
            },
            "refine_road_address": "경기도 수원시 권선구 금곡로 45",
            "refine_num_address": "경기도 수원시 권선구 금곡동 153번지",
            "phone": "010-1234-1234",
            "zip_code": "12345",
            "latitude": 37.3234, 
            "longitude": 127.0824,
            "last_updated_at": "2019-09-30"
        },
        {
            "id": "27a80dca8269a66447a1dc3",
            "name": "빈스앤브래드",
            "industry_name": "카페",
            "city": {
                "code": 2,
                "name": "수원시"
            },
            "refine_road_address": "경기도 수원시 권선구 금곡로 23",
            "refine_num_address": "경기도 수원시 권선구 금곡동 154번지",
            "phone": "010-1444-1234",
            "zip_code": "14243",
            "latitude": 37.3234,
            "longitude": 127.082,
            "last_updated_at": "2019-09-30"
        },
        {
            "id": "27a80dca8269a66447a1dc3",
            "name": "빈스앤브래드",
            "industry_name": "카페",
            "city": {
                "code": 3,
                "name": "수원시"
            },
            "refine_road_address": "경기도 수원시 권선구 금곡로 23",
            "refine_num_address": "경기도 수원시 권선구 금곡동 154번지",
            "phone": "010-1444-1234",
            "zip_code": "14243",
            "latitude": 37.3210133,
            "longitude": 127.09365,
            "last_updated_at": "2019-09-30"
        }
    ]

    // 마커를 표시할 위치와 title 객체 배열입니다 
    var positions = []

    for (var i=0;i<data.length;i++){
        addPosition(data[i]);
    }

    function addPosition(data){
        var dict={}
        dict['content']='<div id="ti"><div id="title">' + data["name"] +
            '</div><div id="industry">' + data["industry_name"] +
            '</div></div><div id="address">' + data["refine_road_address"] +
            '</div><div id="num">' + data["phone"] + 
            '</div>';
        dict['latlng']=new kakao.maps.LatLng(data["latitude"],data["longitude"]);
        dict['city']= data["city"]["code"];
        positions.push(dict)
    }

    ///////////////////////////////////////////////////////////

    var MARKER_WIDTH = 34, // 기본, 클릭 마커의 너비
    MARKER_HEIGHT = 37, // 기본, 클릭 마커의 높이
    OFFSET_X = 12, // 기본, 클릭 마커의 기준 X좌표
    OFFSET_Y = MARKER_HEIGHT, // 기본, 클릭 마커의 기준 Y좌표
    OVER_MARKER_WIDTH = 44, // 오버 마커의 너비
    OVER_MARKER_HEIGHT = 44, // 오버 마커의 높이
    OVER_OFFSET_X = 8, // 오버 마커의 기준 X좌표
    OVER_OFFSET_Y = OVER_MARKER_HEIGHT, // 오버 마커의 기준 Y좌표
    SPRITE_MARKER_URL = "{% static 'image/marker.png' %}", // 스프라이트 마커 이미지 URL https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markers_sprites2.png
    SPRITE_WIDTH = 126, // 스프라이트 이미지 너비
    SPRITE_HEIGHT = 146, // 스프라이트 이미지 높이
    SPRITE_GAP = 8; // 스프라이트 이미지에서 마커간 간격

    var markerSize = new kakao.maps.Size(MARKER_WIDTH, MARKER_HEIGHT), // 기본, 클릭 마커의 크기
        markerOffset = new kakao.maps.Point(OFFSET_X, OFFSET_Y), // 기본, 클릭 마커의 기준좌표
        overMarkerSize = new kakao.maps.Size(OVER_MARKER_WIDTH, OVER_MARKER_HEIGHT), // 오버 마커의 크기
        overMarkerOffset = new kakao.maps.Point(OVER_OFFSET_X, OVER_OFFSET_Y), // 오버 마커의 기준 좌표
        spriteImageSize = new kakao.maps.Size(SPRITE_WIDTH, SPRITE_HEIGHT); // 스프라이트 이미지의 크기

    var selectedMarker = null; // 클릭한 마커를 담을 변수

    // 지도 위에 마커를 표시합니다
    for (var i = 0; i < positions.length; i++) {
        // 마커를 생성하고 지도위에 표시합니다
        addMarker(positions[i].latlng, positions[i].content, positions[i].city);
    }

    // 마커를 생성하고 지도 위에 표시하고, 마커에 mouseover, mouseout, click 이벤트를 등록하는 함수입니다
    function addMarker(position, con, citycode) {

        // 기본 마커이미지, 오버 마커이미지, 클릭 마커이미지를 생성합니다
        var normalImage = createMarkerImage(markerSize, markerOffset, new kakao.maps.Point(0, 0)),
            overImage = createMarkerImage(overMarkerSize, overMarkerOffset, new kakao.maps.Point((MARKER_WIDTH + SPRITE_GAP) * 2, 0));
        
        // 마커를 생성하고 이미지는 기본 마커 이미지를 사용합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: position,
            image: normalImage,
        });

        marker.setTitle(con); //마커 상세내용
        marker.setAltitude(citycode); //마커 도시코드

        // 마커 객체에 마커아이디와 마커의 기본 이미지를 추가합니다
        marker.normalImage = normalImage;

        // 마커에 click 이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {

            // 클릭된 마커가 없고, click 마커가 클릭된 마커가 아니면
            // 마커의 이미지를 클릭 이미지로 변경합니다
            if (!selectedMarker || selectedMarker !== marker) {

                // 클릭된 마커 객체가 null이 아니면
                // 클릭된 마커의 이미지를 기본 이미지로 변경하고
                !!selectedMarker && selectedMarker.setImage(selectedMarker.normalImage);

                // 현재 클릭된 마커의 이미지는 클릭 이미지로 변경합니다
                marker.setImage(overImage);
            }

            // 클릭된 마커를 현재 클릭된 마커 객체로 설정합니다
            selectedMarker = marker;

            // 해당 마커의 상세내용을 보여줍니다
            div_show(marker.getTitle());

            //해당 마커의 도시를 보여줍니다
            city_show(marker.getAltitude());
        });

    }


    // MakrerImage 객체를 생성하여 반환하는 함수입니다
    function createMarkerImage(markerSize, offset, spriteOrigin) {
        var markerImage = new kakao.maps.MarkerImage(
            SPRITE_MARKER_URL, // 스프라이트 마커 이미지 URL
            markerSize, // 마커의 크기
            {
                offset: offset, // 마커 이미지에서의 기준 좌표
                spriteOrigin: spriteOrigin, // 스트라이프 이미지 중 사용할 영역의 좌상단 좌표
                spriteSize: spriteImageSize // 스프라이트 이미지의 크기
            }
        );
        return markerImage;
    }

</script>
</body>
</html>